/*  Copyright 2014 gokoururi
    This work is free. You can redistribute it and/or modify it under the
    terms of the Do What The Fuck You Want To Public License, Version 2,
    as published by Sam Hocevar. See the COPYING file for more details. */
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: IBM Plex Sans Condensed;
    text-align: center;
    border: 0;
}

/* .mascot and .plain will be added to element 'main' by javascript in
    addition to a random mascot */
.mascot {
    padding: 20px 20px 20px 250px;
}

.plain {
    padding: 20px 20px 20px 20px;
}

main {
    display: inline-block;
    min-width: 500px;
    font-size: 13px;
    background-size: contain;
    background-repeat: no-repeat;
    border-width: 1px;
    border-style: solid;
    margin: 10vh 0 0 0;
}

header {
    margin-bottom: 10px;
}

nav {
    text-align: center;
}

.columnList,
.columnList ul,
.buttonList,
.buttonList ul {
    padding: 0;
    list-style-type: none;
}

.columnList {
    display: inline-block;
}
.column {
    display: table-cell;
    text-align: center;
    height: 100%;
    border-right-width: 1px;
    border-right-style: solid;
    padding: 0 50px;
}

.column:last-of-type {
    border-right-width: 0;
}
.column > a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding-bottom: 4px;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.8s;
}

.column > ul > li {
    margin-bottom: 3px;
}

.column > ul > li > a {
    text-decoration: none;
    vertical-align: middle;
    font-weight: bold;
    outline: 0;
    transition: all 0.8s;
}

